.detail {
  height: 100%;
  .back_box {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    z-index: 100;
    display: flex;
    line-height: 80px;
    color: rgb(241, 241, 241);
    padding: 0px 20px 10px;
    .icon-xia {
      margin-right: 10px;
      font-size: 40px;
      width: 40px;
    }
    .title {
      font-size: 32px;
      font-weight: 700;
    }
  }
}