.slider_contauber {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: auto;
  background: white;
  .before {
    position: absolute;
    top: -300px;
    height: 500px;
    width: 100%;
    z-index: 1;
    background: rgb(212, 68, 57);
  }
  .slider-container{
    position: relative;
    width: 98%;
    height: 300px;
    overflow: hidden;
    margin: auto;
    border-radius: 6px;
    .slider-nav{
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
    }
    .swiper-pagination-bullet-active{
      // background: ${style["theme-color"]};
    }
  }
}